body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.header {
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,.3);
  height: 50px;
}

.navbar > * {
  margin: 0px 10px;
  transition: .3s color;
}

.navbar > .active {
    color: royalblue;
    text-decoration: underline;
    transition: .3s color;
}

.half {
  width: 50%;
}

.expand {
  height: 100%;
  width: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.center-content {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-flow: column;
}

.card {
  width: 80%;
  max-width: 768px;
  border: 1px solid rgba(0,0,0,.3);
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 3px 1px rgba(0,0,0,.1);
  padding: 0px;
}

.card > div {
  margin: 5px;
}

.card > :first-child {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0,0,0,.3);
}


.center {
  text-align: center;
}

h1 {
  font-size: 1.6em;
  margin: 0px;
  padding: 0px;
  font-weight: 500;
}

h2 {
  font-size: 1em;
  font-weight: 100;
  padding: 0px;
  margin: 5px;
}

h1 > .colorful {
  color: #00c8a1
}

.logo {
  height: 125px;
  width: 125px;
  margin: 10px;
  animation: 20s linear rotate infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

hr {
  width: 100%;
  margin: 0px;
  padding: 0px;
  size: 5;
}
